<!-- start: PAGE TITLE -->
<section id="page-title">
	<div class="row"  ng-controller="testCtrl">
		<div class="col-sm-8">
		<h1 class ="mainTitle">Waiter Sales Report</h1>
			<!-- <h1 class="mainTitle" translate="sidebar.nav.forms.ELEMENTS">Waiter Sales Report</h1> -->
		</div>
		
	</div>
</section>
<!-- end: PAGE TITLE -->

<!-- start: DATE/TIME Picker -->
<div class="container-fluid container-fullw">
	<div class="row">
		<div class="col-md-12">
			
			<div class="panel panel-white no-radius">
				<div class="panel-body">
					<!-- /// controller:  'DatepickerDemoCtrl' -  localtion: assets/js/controllers/bootstrapCtrl.js /// -->
					<div ng-controller="WaiterReportCtrl">
					<form action="javascript:void(0)" method="post">
						
						<div class="row">
							
							<div class="col-md-6">
								<h5 class="text-bold margin-top-25 margin-bottom-15">Date Range</h5>
								<div class="input-group">

									<input type="text" class="form-control" datepicker-popup="dd/MM/yyyy" ng-model="start"  is-open="startOpened" ng-init="startOpened = false" min-date="'1970-12-31'" max-date="end" ng-required="true" close-text="Close"  ng-click="startOpen($event)"/>
									<span class="input-group-addon">to</span>
									<input type="text" class="form-control" datepicker-popup="dd/MM/yyyy" ng-model="end" is-open="endOpened" ng-init="endOpened = false" min-date="start" ng-required="true" close-text="Close"  ng-click="endOpen($event)" />
								</div>
								<h5 class="text-bold margin-top-25 margin-bottom-15"> Select Waiter:</h5>
								<!-- <select class="form-control" ng-model="format" ng-options="f for f in formats">
									<option></option>
								</select> -->
								<div class="form-group col-md-12">

						          <select class="form-control" name="waiter_id" ng-options="item as item.waiter_code for item in waiter_list track by item.waiter_id" ng-model="waiter_id" ng-change="viewWaiterReport(waiter_id)">
						          <option value="">Select Waiter</option>
						          </select>

						      </div>
							</div>
						</div>
					</form>
					<div class="col-md-12">
					    <fieldset>
					      <legend>Report</legend>
					        <div>
					        <table id="sample-table-3" class="table table-condensed table-hover">
					        <thead>
					          <tr>
					            <th class="hidden-xs">Order No.</th>
					            <th class="hidden-xs">Waiter Commission (%)</th>
					            <th class="hidden-xs">Waiter Commission Amount</th>
					            <th class="hidden-xs">Date</th>
					          </tr>
					        </thead>
					        <tbody>
					          <tr ng-repeat="row in taxlist">
					            <td class="hidden-xs" >{{row.order_id}}</td>
					            <td class="hidden-xs" >{{row.waiter_commission}}</td>
					            <td class="hidden-xs" >{{row.tax_percent}}</td>
					            <td class="hidden-xs" >{{row.created}}</td>
					          </tr>
					        </tbody>
					        </table>
					        </div>
					    </fieldset>
					  </div>
					</div>
					
				</div>
			</div>
		</div>
	</div>
</div>
<!-- end: DATE/TIME Picker -->
